################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/jwt/v15
/jwt/privatekey.pem
/jwt/private-key.pem
/jwt/public-key.pem
/jwt/publickey.pem
